<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver
      android:name="expo.modules.kiosklocktask.KioskAdminReceiver"
      android:permission="android.permission.BIND_DEVICE_ADMIN"
      android:exported="true">
      <meta-data
        android:name="android.app.device_admin"
        android:resource="@xml/kiosk_device_admin" />
      <intent-filter>
        <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
      </intent-filter>
    </receiver>
    <receiver
      android:name="expo.modules.kiosklocktask.KioskUnlockReceiver"
      android:permission="android.permission.WRITE_SECURE_SETTINGS"
      android:exported="true">
      <intent-filter>
        <action android:name="ph.jprimefitness.kiosk.UNLOCK" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
